<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TripleMapper">

    <sql id="Base_Column_List">
        id,Subject,edge,target,Subjectid,targetid
    </sql>

    <select id="selectAll" resultType="com.example.entity.Triple">
        select
        <include refid="Base_Column_List" />
        from triple
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="Subject != null"> and Subject like concat('%', #{Subject}, '%')</if>
            <if test="edge != null"> and edge like concat('%', #{edge}, '%')</if>
            <if test="target != null"> and target like concat('%', #{target}, '%')</if>
            <if test="Subjectid != null"> and Subjectid = #{Subjectid}</if>
            <if test="targetid != null"> and targetid = #{targetid}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Triple">
        select
        <include refid="Base_Column_List" />
        from triple
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from triple
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Triple" useGeneratedKeys="true" keyProperty="id">
        insert into triple
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="Subject != null">Subject,</if>
            <if test="edge != null">edge,</if>
            <if test="target != null">target,</if>
            <if test="Subjectid != null">Subjectid,</if>
            <if test="targetid != null">targetid,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="Subject != null">#{Subject},</if>
            <if test="edge != null">#{edge},</if>
            <if test="target != null">#{target},</if>
            <if test="Subjectid != null">#{Subjectid},</if>
            <if test="targetid != null">#{targetid},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Triple">
        update triple
        <set>
            <if test="Subject != null">
                Subject = #{Subject},
            </if>
            <if test="edge != null">
                edge = #{edge},
            </if>
            <if test="target != null">
                target = #{target},
            </if>
            <if test="Subjectid != null">
                Subjectid = #{Subjectid},
            </if>
            <if test="targetid != null">
                targetid = #{targetid},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>